.layout-component {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
  }
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  .addButton {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .moduleList {
    display: flex;
    flex-direction: column;
  }
}
