.detail-context {
    margin: 0 10px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
.con-tool {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
}