.edit-box-container {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}
.edit-box-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.edit-box-button {
    margin-top: 20px;
}