.edit-container {
  flex: 1;
  min-width: 400px;
  height: 100vh;
  overflow-y: auto;
}
.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
}
.edit-title {
  font-size: 20px;
  font-weight: bold;
}
.edit-button {
  margin-left: 10px;
}
