.container {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    &:hover {
        border: 1px solid rgb(0, 0, 0);
    }
}
.mainContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.draggable {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: grab;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f8f9fa;
}
.content {
    flex: 1;
    font-size: 16px;
    margin-left: 10px;
}
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 50px;
}
.btnDetail {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btnDetailIcon {
    color: gray;
    transition: transform 0.3s ease;
}
.rotated {
    transform: rotate(180deg);
}
.detailFormWrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
    overflow: hidden;
}
.detailFormWrapper.expanded {
    grid-template-rows: 1fr;
}
.detailForm {
    min-height: 0;
}